# TODO: Añadir URL real del afiliado / tracking
VITE_AFFILIATE_URL=https://tu-url-de-afiliado.com
# TODO: Añadir Facebook Pixel ID si se requiere
VITE_FB_PIXEL_ID=
# TODO: Añadir Google Analytics ID si se requiere
VITE_GA_ID=